.btn {
    border-radius: .4rem;
    border: none;
}

textarea,
input[type='text'],
input[type='email'],
input[type='file'],
input[type='number'],
input[type='password'] {
    border-radius: .4rem !important;
}

.navbar {
    background-color: rgb(14, 14, 14) !important;
}

.navbar * {
    color: #939292 !important;
}

.navbar .navbar-btn {
    color: #000 !important;
}

.navbar li:hover * {
    color: #c5c5c5 !important;
}

.navbar-toggler-icon {
    background-color: #ffd200;
    color: #ffd200 !important;
    border-radius: 6px;
}

.navbar-toggler {
    border: 1px solid #ffd200;
    outline: none !important;
    padding: 5px;
    border-radius: 9px;
}

.navbar-toggler:focus {
    box-shadow: none;
    border: none;
}

.nav-pills .nav-item .nav-link {
    border-radius: 16px;
    background-color: #fdf7da;
    margin: .2rem;
}

.nav-pills .nav-item .nav-link.active {
    background-color: #ffd200;
    color: #000;
}

.navbar-modal {
    background-color: #ffd200;
}

.navbar-modal-dialog {
    background-color: #ffd200;
}

.navbar-modal-content {
    background-color: #000;
}

.navbar-modal-content .nav-link {
    color: #9b9a9a;
    font-weight: bold;
}

.navbar-nav .nav-link.active,
.navbar-modal-content .nav-link.active {
    color: #dddddd !important;
}

.navbar-modal-content .modal-header {
    background-color: #000;
    block-size: 75px;
    padding-inline: 12px !important;
    border-block-end: #181818;
}

.navbar-modal-content .modal-header .btn-close {
    color: #ffd200;
    background-color: #ffd200;
    border: 1px solid #ffd200;
    outline: none !important;
    padding: 12px;
    border-radius: 9px;
    margin-inline-end: 1px;
}


.home-header {
    block-size: 100vh;
    background-image: url(../img/bg/bg.jpg);
    background-size: cover;
}

.business-concepts-header {
    block-size: 100vh;
    background-image: url(../img/bg/cp.jpg);
    background-size: cover;
}

.mission-vision {
    background-color: #000;
}

.founders-insights {
    background-color: #ffb900;
}

.book-img {
    block-size: 240px !important;
    background-size: cover;
}

.card-text-overflow {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.article-card-title-overflow {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.article-card-text-overflow {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

footer {
    background-color: rgb(14, 14, 14);
}

footer * {
    color: #686767 !important;
}

footer h3 {
    color: #939292 !important;
}

.mission-content,
.vision-content {
    block-size: 460px !important;
    text-align: justify;
}

@media (max-width: 767.98px) {
    body {
        font-size: 16px !important;
    }

    .card.card-cs {
        padding: 4px !important;
    }

    .home-header {
        block-size: 70vh;
        background-image: url(../img/bg/bg-mobile.jpg);
        background-size: cover;
    }

    .home-header .row {
        height: 100% !important;
        display: flex !important;
        justify-content: flex-end !important;
        align-items: flex-end !important;
    }

    .home-header h1 {
        font-size: 28px !important;
    }

    .home-header p {
        font-size: 16px !important;
    }

    .home-header button {
        padding: .4rem 1rem;
        font-size: 14px;
        font-weight: normal;
    }

    .business-concepts-header {
        block-size: 70vh;
        background-image: url(../img/bg/cp-mobile.jpg);
        background-size: cover;
    }

    .business-concepts-header .row {
        height: 100% !important;
        display: flex !important;
        justify-content: flex-end !important;
        align-items: flex-end !important;
    }

    .business-concepts-header h1 {
        font-size: 28px !important;
        color: #000 !important;
    }

    .business-concepts-header p {
        font-size: 16px !important;
        color: #000 !important;
    }

    .business-concepts-header button {
        padding: .4rem 1rem;
        font-size: 14px;
        font-weight: normal;
    }

    .mission-vision .card {
        padding: 12px 14px !important;
    }

    .mission-vision .card .bs-icon {
        block-size: 42px !important;
        inline-size: 42px !important;
        padding: 6px !important;
        margin-block-end: .8rem !important;
    }

    .mission-vision .card h4 {
        margin: .2rem 0 !important;
        font-size: 17px !important;
    }

    .mission-vision .card p {
        margin: 0 !important;
    }

    .business-concepts .card-card-wrapper {
        margin-block: .6rem !important;
        padding-inline: 0 !important;
    }

    .business-concepts .card {
        padding: 16px 14px !important;
    }

    .business-concepts .card-body {
        padding: 6px 7px !important;
    }

    .business-concepts .card-body .bs-icon {
        display: none !important;
    }

    .business-concepts .card-body .bs-icon {
        display: none !important;
    }

    .business-concepts .card-body .btn {
        padding: .4rem 1rem;
        font-size: 14px;
        font-weight: normal;
    }

    .business-concepts .card-body h5 {
        font-size: 18px !important;
    }

    .business-concepts .card-body p {
        margin-block-end: .4rem !important;
        font-size: 15px !important;
    }

    .founders-insights .card {
        padding: 16px 14px !important;
    }

    .founders-insights .card-body .card-body-img-and-text {
        display: flex !important;
        justify-content: flex-start !important;
        align-items: center !important;
        gap: 2px;
    }

    .founders-insights .card-body {
        padding: 0 !important;
    }

    .founders-insights .card-body .btn {
        padding: .4rem 1rem;
        font-size: 14px;
        font-weight: normal;
    }

    .founders-insights .card-body h4 {
        font-size: 18px !important;
    }

    .founders-insights .card-body p {
        margin-block-end: .4rem !important;
        font-size: 15px !important;
    }


    .latest-posts img {
        block-size: 150px !important;
    }

    .latest-posts .card-body p {
        margin-block-end: .4rem !important;
        font-size: 15px !important;
    }

    .latest-posts .card-body .btn {
        padding: .4rem 1rem;
        font-size: 14px;
        font-weight: normal;
    }

    .how-to-reach-us .container {
        background-color: transparent !important;
    }

    .how-to-reach-us .container-inner {
        background-color: #ffd200;
    }

    .how-to-reach-us .container-inner .btn {
        padding: .4rem 1rem !important;
        font-size: 14px !important;
        font-weight: normal !important;
    }

    footer .footer-content-wrapper {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        gap: 12px;
    }

    footer .footer-content-wrapper .content-inner,
    footer .footer-content-wrapper .content-inner ul {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        inline-size: 100%;
    }

    .mobile-video {
        display: flex;
        justify-content: center;
    }

    .mobile-video iframe {
        inline-size: 100% !important;
        block-size: 220px !important;
    }

    .transcript-summary p {
        margin-block-start: 8px;
    }

    .business-concept-img {
        block-size: 100px !important;
        inline-size: 100px !important;
    }

    .business-concept-img-wrapper {
        display: flex;
        justify-content: center;
        margin-block-end: 4px !important;
    }

    .business-concept-container {
        border: 1px solid #f3f3f3;
        margin-block-end: 12px;
        border-radius: 9px;
        padding-block-start: 24px;
    }

    .business-concepts-header .text-text-content {
        block-size: 100%;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: flex-end !important;
    }

    .mission-content,
    .vision-content {
        block-size: fit-content !important;
        text-align: justify;
    }
}
